body{
    border-width: 0;
    margin: 0;
    color: white;
}
.container{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.Calculadora{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(4 , 75px);
    background-color: #d9cedc;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 10px;
}
p{
    /* background-color: white; */
    font-size: 5rem;
    color: #ffffff;
    position: absolute;
    top: -35px;
    width: 17rem;
    height: 8rem;
}
button{
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    border: none; 
    border-radius: 28px;
    font-size: 1.5rem;
    color: white;  
    background-color: #000000b9;
    box-shadow: 5px 5px 10px #000;
}
button:active{
    background-color: #4c3434;
}
#clear{
    grid-column: span 2;
}
#cero{
    grid-column: span 2
}
#igual{
    grid-column: span 2
}
.pantalla{
    border-radius: 32px;
    grid-column: 1 / -1;
    padding: 15px;
    background-color: rgb(0, 0, 0);
}